<div [hidden]="isCostFilterHidden">
    <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="costRange"
        >
        <mat-radio-button 
            class="example-radio-button" 
            *ngFor="let costRange of costRanges" 
            [value]="costRange"
        >
            {{costRange}}
        </mat-radio-button>
    </mat-radio-group>
    <p>{{ costRange }}</p>
    <button
        (click)="openDialogAddFilter()"
    >Add Custom Range
    </button>

</div>

<div [hidden]="isDateFilterHidden">
    <p>{{ showFilter }}</p>
</div>