  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .searchBar {
    font-size: 14px;
    border-radius: 8px;
    width: 150px;
  }

  .totalCost {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
  }

  .btn {
    display: inline-block;
    background: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: opacity 1s;
  }

  .btn :hover {
    opacity: 0.5;
  }

  .radioGroup {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 15px;
    align-items: flex-start;
  }

  .radioButton {
    margin: 5px
  }

  .filterButtons {
    margin-left: 50px;
    margin-right: 5px;
  }

  .lineChart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }