<div class="header">
    <h1 class="totalCost">{{ totalCost }} CAD</h1>
    <button 
        class="btn" 
        (click)="openDialogAdd()"
    >
        Add Expense
    </button>
</div>

<div class="subHeader">
    <div>
        <button mat-icon-button
            [matMenuTriggerFor]="costFilterMenu"
            [disableRipple]="true"
            (click)="showCostFilter()"
        >
            <mat-icon>price_change</mat-icon>
        </button>
        <mat-menu #costFilterMenu="matMenu" xPosition="after">
        </mat-menu>

        <button mat-icon-button
            [matMenuTriggerFor]="sortFilterMenu"
            [disableRipple]="true"
        >
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sortFilterMenu="matMenu" xPosition="after">
            <div>
                <mat-radio-group 
                    class="radioGroup" 
                    (click)="$event.stopPropagation()"
                    [(ngModel)]="sortFilter"
                >
                    <mat-radio-button class="radioButton" value="CLH">Cost Low-High</mat-radio-button>
                    <mat-radio-button class="radioButton" value="CHL">Cost High-Low</mat-radio-button>
                    <mat-radio-button class="radioButton" value="DOR">Date Oldest-Recent</mat-radio-button>
                    <mat-radio-button class="radioButton"value="DRO">Date Recent-Oldest</mat-radio-button>
                </mat-radio-group>
                <p>{{sortFilter}}</p>
            </div>
            <div class="sortFilterButtons">
                <mat-dialog-actions align="center">
                    <button mat-button>Cancel</button>
                    <button mat-button 
                      (click)="$event.stopPropagation()"
                      [disabled]="sortInputCheck()"
                      >Submit
                    </button>
                </mat-dialog-actions>
            </div>
        </mat-menu>
    </div>
    <div class="subHeader">
        <input 
            class="searchBar"
            type="text"
            id="search"
            name="search"
            [(ngModel)]="search"
        />
        <button mat-icon-button
            [disableRipple]="true"
            (click)="findExpense()"
        >
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<div>
    <app-filter [showFilter]="filterType"></app-filter>
</div>

<app-expense 
    *ngFor="let expense of displayedExpenses | slice : startPage:paginationLimit"
    [expense]="expense"
    (deleteOnClickExpense)="openDialogDelete(expense)"
    (updateOnClickExpense)="openDialogUpdate(expense)"
> 
</app-expense>

<div style="text-align:center">
    <button mat-icon-button
        (click)="(showMore())"
        [disabled]="(showMoreCheck())"
    >
        <mat-icon>expand_more</mat-icon>
    </button>

    <button mat-icon-button
        (click)="(showLess())"
        [disabled]="(showLessCheck())"
    >
        <mat-icon>expand_less</mat-icon>
    </button>
</div>