<!DOCTYPE html>

<h1>Total spending this year: {{totalCost}} CAD</h1>

<button (click)="generateExcel()">
    Generate Excel File
</button>

<button id="downloadBtn" [disabled]="disableExcelDownload" (click)="exportExcel()" title={{downloadButtonMessage}}>
    Download Excel File
</button>

<mat-accordion *ngFor="let year of years">
    <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{year}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-tab-group mat-align-tabs="center">
            <mat-tab *ngFor="let month of months ; let i = index">
                <ng-template mat-tab-label>
                    <p>
                        {{month}}
                        <br>
                        {{getCost(year, i)}} CAD
                    </p>
                </ng-template>
                <div class="container">
                    <app-expense-list year={{year}} month={{month}} (costChangedEvent)="updateCostsInfo($event)">
                    </app-expense-list>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>

<table id="excel-table">
    <div *ngFor="let year of years">
        <div *ngIf="year"></div>
        <tr>
            <th colspan="3">{{year}}</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Cost</th>

        </tr>
        <tr *ngFor="let expense of allExpenses.get(year)">
            <td>{{expense.date}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.cost}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
    </div>
</table>

<!--
<table id="excel"> 
    <div *ngFor="let year of years">
        <tr>
            <th colspan="36">{{year}}</th>
        </tr>
        <div *ngFor="let month of months">
            <tr>
                <th colspan="3">
                    {{month}}
                </th>
            </tr>
            <tr>       
                <th>Date</th> 
                <th>Description</th>  
                <th>Cost</th> 
            </tr>    
            <tr *ngFor="let month of months">
                <td>test1</td>  
                <td>test2</td> 
                <td>test3</td> 
            </tr>  
            <tr>
                <td colspan="36"></td>
            </tr>
        </div>
    </div>
</table> 
-->