<h1 class="title">{{title}}</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Cost</mat-label>
    <input 
      matInput
      type="number"
      name="cost" 
      id="cost"
      [(ngModel)]="cost"
      required
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input 
      matInput
      type="text"
      name="description" 
      id="description"
      [(ngModel)]="description"
      required
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input 
      matInput
      type="date"
      name="date" 
      id="date"
      [(ngModel)]="date"
      required
    >
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button 
    (click)="onCancel()"
  >Cancel</button>
  <button mat-button 
    [mat-dialog-close]="true" 
    cdkFocusInitial (click)="onSubmit()" 
    [disabled]="checkInputs()"
  >Submit</button>
</mat-dialog-actions>

<!-- HTML form version
<mat-dialog-content>
  <form class="add-form">
    <div class="form-control">
      <label class="text" for="cost">Cost</label>
      <input 
        class="input" 
        type="number" 
        name="cost" 
        id="cost"
        [(ngModel)]="cost"/>
    </div>
    <div class="form-control">
      <label class="text" for="name">Description</label>
      <input 
        class="input" 
        type="text" 
        name="name" 
        id="name"
        [(ngModel)]="name"/>
    </div>
    <div class="form-control">
      <label class="text" for="cost">Day, Date</label>
      <input 
        class="input" 
        type="date" 
        name="date" 
        id="date"
        [(ngModel)]="date"/>
    </div>
  </form>
</mat-dialog-content>
-->